.list {
  padding: 4px;
}

.listItem {
  padding: 4px;
  border-bottom: 1px dotted white;
  .text {
    text-decoration: underline;
    font-size: 0.8rem;
    color: white;
  }
  .subText {
    font-size: 0.5rem;
    text-decoration: underline;
  }
  &:hover {
    .text {
      text-decoration: none;
    }
    .subText {
      text-decoration: none;
    }
    cursor: pointer;
  }
}

// .parameterSection {
//   .header {
//     color: #fff;
//     font-size: 1rem;
//     font-weight: bolder;
//     padding-bottom: 0.6rem;
//   }
//   .parameterText {
//     color: #fff;
//     font-size: 1rem;
//     padding-bottom: 0.6rem;
//   }
//   .variableSection {
//     background-color: #fff;
//     min-height: 60px;
//     font-size: 1.2rem;
//     padding: 1rem;
//   }
//   .parameter {
//     float: left;
//   }
//   .inputValue {
//     float: right;
//   }
// }
